@mixin title-general {
    font-family: $font-general;
    color: $text-color-dark;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    margin-top: 0;
}

@mixin subtitle-general {
    font-family: $font-general;
    color: $text-color-dark;
    font-weight: 700;
    font-size: 29px;
    line-height: 37px;
    margin-top: 0;
}

@mixin text-regular {
    font-family: $font-general;
    color: $text-color-dark;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

@mixin card-border {
    border: 1px solid $border-color;
    border-radius: 4px;
}

@mixin card-outline {
    border: 1px solid $link-color;
}