$text-color-dark: #333333;
$text-color-light: #FFFFFF;
$link-color: #065CC2;
$main-bg: #F2F2F2;
$footer-bg: #F8F8F8;
$light-bg: #FFFFFF;
$border-color: #D6D6D6;
$button-bg: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
$button-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);

$font-general: 'PTRootUIWeb';