.address-card {
    @include card-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 490px;
    padding: 20px;
    cursor: pointer;
    @include large {
        max-width: none;
        width: 100%;
        gap: 0;
    }
    @include medium {
        width: 50%;
    }
    @include small {
        align-items: start;
        min-width: 300px;
        padding: 16px 20px;
    }
    &__text-wrapper {
        max-width: 360px;
        @include extra-large {
            max-width: 300px;
        }
        @include large {
            max-width: none;
        }
        @include small {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
    }
    &__delivery-method {
        @include text-regular;
        font-weight: 700;
        font-size: 21px;
        margin: 0;
    }
    &__destination {
        @include text-regular;
        margin: 0;
    }
    &__cost {
        @include text-regular;
        text-align: right;
        min-width: 70px;
        @include small {
            display: none;
        }
        &_mobile {
            text-align-last: left;
            display: none;
            @include small {
                display: flex;
                justify-content: start;
            }
        }
    }
    &__currency {
        margin-left: 5px;
    }

}