.sum {
    padding: 40px;
    // border-left: 1px solid #BEBEBE;
    @include extra-large {
        padding-right: 20px;
        padding-left: 20px;
    }
    @include large {
        padding-left: 30px;
    }
    @include medium {
        padding-top: 10px;
        padding-left: 20px;
        border-left: none;
    }
    @include small {
        position: relative;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $light-bg;
    }
    &__container {
        @include medium {
            width: 100%;
        }
        @include small {
            padding: 40px 16px 16px 16px;
            display: flex;
            flex-direction: column;
        }
    }
    &__title {
        @include subtitle-general;
    }
    &__weight {
        font-weight: 400;
    }
    &__payment {
        display: none;
        padding: 20px 0;
        border-top: 1px solid #D6D6D6;
        border-bottom: 1px solid #D6D6D6;
        @include small {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__popup-close-wrapper {
        display: none;
        min-height: 85px;
        padding: 16px;
        border-top: 1px solid #D6D6D6;
        margin-top: auto;
        @include small {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    &__popup-close {
        display: none;
        @include small {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-general;
            color: $text-color-dark;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            padding: 16px 20px;
            letter-spacing: 0.5px;
            width: 100%;
            background: $light-bg;
            border: 1px solid #D6D6D6;
            border-radius: 4px;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
            transition: box-shadow, 0.3s;
            cursor: pointer;
            &:hover {
                box-shadow: none;
            }
        }
    }
}