.sum-table {
    width: 490px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
    @include extra-large {
        width: 400px;
    }
    @include medium {
        width: 100%;
        border-bottom: none;
    }
    &__descr {
        @include text-regular;
        @include small {
            font-size: 17px;
            line-height: 36px;
        }
        &_payment {
            display: none;
            @include small {
                display: block;
                line-height: 50px;
            }
        }
    }
    &__value {
        @include text-regular;
        font-weight: 700;
        text-align: right;
        @include small {
            font-size: 17px;
        }
    }
}