.total {
    padding: 0 100px;
    border-top: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    background-color: $footer-bg;
    &__button {
        @include subtitle-general;
        color: $text-color-light;
        padding: 21px 50px;
        background: $button-bg;
        border: 1px solid #E01D1D;
        border-radius: 4px;
        box-shadow: $button-shadow;
        transition: box-shadow, 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: none;
        }
    }
    &__table {
        display: flex;
        align-items: center;
    }
    &__descr {
        @include text-regular;
        margin-right: 112px;
    }
    &__sum {
        @include title-general;
    }
}